body {
    font-family: sans-serif;
    font-size: x-large;
    color: royalblue;
}

/* <p> and <p class="dim"> */
p {
    color: red;
}
p.dim {
    color: lightgoldenrodyellow;
}

.dim {
    color:ghostwhite;
    background-color: darkgray;
}
/* the above applies to any element including body with a dim class */