body {
    font-family: sans-serif;
    font-size: x-large;
}

button {
    font-size: xx-large;
    border-radius: 8px;
    background-color: lightblue;
    margin: 0 1rem 0 1rem
}

button:active {
    color: aliceblue;
    background-color: blue;
}